* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/light-grey-terrazzo.png");
    background-color: #cccccc;
    color: #777777;
    font-family: Arial, 'Helvetica Nueue',Helvetica, sans-serif;
    line-height: 25px;
}

hr {
    margin: 20px 0px 20px 0px;
    border: none;
    border-top: 2px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

h1 {
    font-family: 'Georgia',Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}

h2 {
    font-family: 'Georgia',Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 55px;
    margin-bottom: 0px;
}


// specific anchor replacement to match basic portfolio {}
.cardname > h2 > a {
    color: white;
}

// max width to match basic portfolio {}
.container {
    max-width: 960px;
}

.fullwidth {
    width: 100%;
}
 
input[type="submit"] {
    margin-top: 5px;
    padding: 0px 30px 0px 30px;
    background-color: teal;
    color: white;
    line-height: 36px;
    border: 0px;
}

textarea {
    padding: 5px 10px 5px 10px;
    width: 100%;
    line-height: 20px;
    color: inherit;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
}

.textcolorTeal {
    color: teal;
}

p {
    margin-bottom: 10px;
}


.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: calc((100% - 960px)/2);
    padding-left: calc((100% - 960px)/2);
    border-bottom: 2px solid #dddddd;
}



#navlogo {
    display: inline-block;
    background-color: teal;
    padding: 0px 20px 0px 20px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    margin-bottom: 0px;
}

#mainsection {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 20px;
    background-color: white;
    border: 2px solid #dddddd;
}


#selfphoto {
    float: left;
    margin-right: 20px;
}
 

.cardplacement {
    margin: 15px 22px 15px 18px;
}

// used card1 to avoid conflict with bootstrap 4 card class {}
.card1 {
    position: relative;
    width: 300px;
    height: 200px;
}

.cardname {
    background-color: teal;
    text-align: center;
    width: 300px;
    line-height: 55px;
    color: white;
    position: absolute;
    bottom: 20px;
}


footer {
    background-color: #666666;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    color: white;
    border-top: 5px solid teal;
    height: 50px;

}

.footerText {
    width: 100%;
    font-size: 10px;
}



